[Desktop Entry]
Name=Taxas Referenciais SELIC (B3)
Comment=Consulta taxas referenciais SELIC Pré na B3
Exec=b3-selic-pre --gui
Icon=b3-selic-pre
Terminal=false
Type=Application
Categories=Finance;Office;
StartupNotify=true
